@model SmartDormitory.Web.Models.SensorDetailsViewModel
@{
    ViewData["Title"] = "Modify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container center " style="width: 450px;">
    <div class="main_title">
        <h2>Modify</h2>
        <h1>Modify</h1>
    </div>
    <h4>Change an existing sensor parameters.</h4>
    <hr />
    <form asp-action="Modify">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label class="control-label">Name</label>
            <input asp-for="Name" class="form-control" value="@Model.Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Description</label>
            <input asp-for="Description" class="form-control" value="@Model.Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Latitude</label>
            <input asp-for="Latitude" class="form-control" value="@Model.Latitude" />
            <span asp-validation-for="Latitude" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Longitude</label>
            <input asp-for="Longitude" class="form-control" value="@Model.Longitude" />
            <span asp-validation-for="Longitude" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Max Value</label>
            <input asp-for="ValueRangeMin" class="form-control" value="@Model.ValueRangeMin" />
            <span asp-validation-for="ValueRangeMin" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Min Value</label>
            <input asp-for="ValueRangeMax" class="form-control" value="@Model.ValueRangeMax" />
            <span asp-validation-for="ValueRangeMax" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div>
                <label>Alarm</label>
            </div>
            <div class="checkbox">
                <label class="switch">
                    <input asp-for="Alarm" type="checkbox" />
                    <span asp-validation-for="Alarm" class="slider"></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label>Is Public</label>
            </div>
            <div class="checkbox">
                <label class="switch">
                    <input asp-for="IsPublic" type="checkbox" />
                    <span asp-validation-for="IsPublic" class="slider"></span>
                </label>
            </div>
        </div>
        <div class="form-group col-12">
            <input type="submit" value="Save" class="btn btn-default" />
            <input asp-controller="Sensor" asp-action="Delete" asp-route-id="@Model.ID" type="submit" value="Delete" formmethod="post" class="btn btn-danger" />
        </div>
    </form>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>