@{
    ViewData["Title"] = "Home Page";
}

@using SmartDormitory.Data.Models

@model IEnumerable<SensorsFromUser>

<div class="hide-it">
    @foreach (SensorsFromUser sensor in Model)
    {
        <div class="sensor-location">
            <p class="sensor-lat">@sensor.Latitude</p>
            <p class="sensor-lng">@sensor.Longitude</p>
        </div>
    }
</div>

@if (!User.Identity.IsAuthenticated)
{
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="home_left_img">
                            <img class="img-fluid" src="~/template/img/banner/home-left.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner_content">
                            <h2>
                                Smart <br>
                                Dormitory <br>
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim.
                            </p>
                            <div class="d-flex align-items-center">
                                <a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?v=AvstcGFeeu4" frameborder="0">
                                    <span></span>
                                </a>
                                <div class="watch_video text-uppercase">
                                    watch the video
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <hr />

    <!--================Start About Us Area =================-->
    <section class="about_us_area section_gap_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main_title">
                        <h2>Who We Are?</h2>
                        <h1>Who We Are?</h1>
                    </div>
                </div>
            </div>
            <div class="row about_content align-items-center">
                <div class="col-lg-6">
                    <div class="section_content">
                        <h6>About Us</h6>
                        <h1>We Believe that <br>Interior beauty Lasts Long</h1>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                            especially in the workplace. That’s why it’s crucial that as women.
                        </p>
                        <a class="primary_btn" href="#">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about_us_image_box justify-content-center">
                        <img class="img-fluid w-100" src="~/template/img/network.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End About Us Area =================-->

    <hr />

    <!--================ Start Gallery Area =================-->
    <section class="gallery_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main_title">
                        <h2>Screens Gallery</h2>
                        <h1>Screens Gallery</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="single-gallery">
                                <div class="overlay"></div>
                                <img class="img-fluid w-100" src="~/template/img/appartament.jpg" alt="">
                                <div class="content">
                                    <a class="pop-up-image" href="~/template/img/appartament.jpg">
                                        <i class="lnr lnr-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="single-gallery">
                                <div class="overlay"></div>
                                <img class="img-fluid w-100" src="~/template/img/real-student-dormitories.jpg" alt="">
                                <div class="content">
                                    <a class="pop-up-image" href="~/template/img/real-student-dormitories.jpg">
                                        <i class="lnr lnr-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="single-gallery">
                                <div class="overlay"></div>
                                <img class="img-fluid w-100" src="~/template/img/outside.jpg" alt="">
                                <div class="content">
                                    <a class="pop-up-image" href="~/template/img/outside.jpg">
                                        <i class="lnr lnr-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 hidden-md hidden-sm">
                    <div class="single-gallery">
                        <div class="overlay"></div>
                        <img class="img-fluid w-100" src="~/template/img/interior.jpg" alt="">
                        <div class="content">
                            <a class="pop-up-image" href="~/template/img/interior.jpg">
                                <i class="lnr lnr-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Gallery Area =================-->

    <hr />

    <!--================ Google Map Area =================-->
    <section class="row container-fluid">
        <div class="col-md-12 container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main_title">
                        <h2>Public Sensors</h2>
                        <h1>Public Sensors</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="map"></div>
    <!--================ End Google Map Area =================-->
}
else
{
    <p>Logged</p>

    <!--================ Google Map Area =================-->
    <section class="row container-fluid">
        <div class="col-md-12 container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main_title">
                        <h2>Public Sensors</h2>
                        <h1>Public Sensors</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="map"></div>
    <!--================ End Google Map Area =================-->

    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Value</th>
            <th>Access Level</th>
            <th></th>
        </tr>
        @foreach (SensorsFromUser sensor in Model)
        {
        <tr>
            <td>@sensor.Name</td>
            <td>@sensor.Description</td>
            <td>@($"{sensor.Value} {sensor.MeasurmentType}")</td>
            <td>
                @if (sensor.IsPublic)
                {
                    <span>public</span>
                }
                else
                {
                    <span>private</span>
                }
            </td>
            <td><a class="btn btn-success" asp-controller="Sensor" asp-action="Modify" asp-route-id="@sensor.ID">Modify</a></td>
            <td><a class="btn btn-success" asp-controller="Sensor" asp-action="Details" asp-route-id="@sensor.ID">Details</a></td>
        </tr>
        }
    </table>
}

<!--Google Maps Scripts-->
<script src="~/js/map.js">
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw2VAqsgmqjD7eQlISWs55-wVWnhHBM58&callback=initMap">
</script>

@section scripts
    {
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/template/js/jquery-3.2.1.min.js"></script>
    <script src="~/template/js/popper.js"></script>
    <script src="~/template/js/bootstrap.min.js"></script>
    <script src="~/template/js/stellar.js"></script>
    <script src="~/template/js/jquery.magnific-popup.min.js"></script>
    <script src="~/template/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/template/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/template/vendors/isotope/isotope-min.js"></script>
    <script src="~/template/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/template/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/template/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/template/vendors/counter-up/jquery.counterup.min.js"></script>
    <script src="~/template/js/mail-script.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="~/template/js/gmaps.min.js"></script>
    <script src="~/template/js/theme.js"></script>
}
